In [2]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy as db

In [3]:
engine = db.create_engine("mysql://root:root@172.16.5.4:3310/retail_db")

In [5]:
customers_df = pd.read_sql_table("customers",engine)
orders_df = pd.read_sql_table("orders",engine)
order_items_df = pd.read_sql_table("order_items",engine)
products_df = pd.read_sql_table("products",engine)
categories_df = pd.read_sql_table("categories",engine)
departments_df = pd.read_sql_table("departments",engine)

In [6]:
customers_df.count()

customer_id          12435
customer_fname       12435
customer_lname       12435
customer_email       12435
customer_password    12435
customer_street      12435
customer_city        12435
customer_state       12435
customer_zipcode     12435
dtype: int64

In [8]:
total_clientes = customers_df["customer_id"].nunique()
print(f"el total de cliente es {total_clientes}")

el total de cliente es 12435

In [10]:
clientes_x_estado = customers_df['customer_state'].value_counts()
clientes_x_estado

customer_state
PR    4771
CA    2012
NY     775
TX     635
IL     523
FL     374
OH     276
PA     261
MI     254
NJ     219
AZ     213
GA     169
MD     164
NC     150
VA     136
CO     122
OR     119
MA     113
TN     104
NV     103
MO      92
HI      87
NM      73
CT      73
WA      72
UT      69
WI      64
LA      63
DC      42
SC      41
IN      40
MN      39
KY      35
KS      29
DE      23
OK      19
WV      16
RI      15
ND      14
AR      12
ID       9
MT       7
IA       5
AL       3
Name: count, dtype: int64

In [16]:
categorias_x_departamento = categories_df.groupby("category_department_id")['category_id'].count()
print(f"categorias por departamente \n {categorias_x_departamento}")

categorias por departamente
 category_department_id
2     8
3     8
4     6
5     7
6    12
7     7
8    10
Name: category_id, dtype: int64

In [19]:
distribucion_categorias_x_departamento = categories_df.merge(departments_df, left_on='category_department_id', right_on='department_id')
distribucion_categorias_x_departamento = distribucion_categorias_x_departamento['department_name'].value_counts()
distribucion_categorias_x_departamento

department_name
Outdoors    12
Fitness      8
Footwear     8
Golf         7
Fan Shop     7
Apparel      6
Name: count, dtype: int64

In [20]:
precio_promedio = products_df['product_price'].mean()
print(f"el precio promedio es: {precio_promedio:.3f}")

el precio promedio es: 124.996

In [21]:
products_df['product_price'].describe()

count    1345.000000
mean      124.996335
std       163.349266
min         0.000000
25%        31.970000
50%        89.990000
75%       139.990000
max      1999.990000
Name: product_price, dtype: float64

In [22]:
products_df['product_image'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1345 entries, 0 to 1344
Series name: product_image
Non-Null Count  Dtype
--------------  -----
1345 non-null   object
dtypes: object(1)
memory usage: 10.6+ KB

In [25]:
nulos_imagenes = products_df['product_image'].isnull().sum()
no_nulos_imagenes = products_df['product_image'].notnull().sum()

In [24]:
products_df.isnull().sum()

product_id             0
product_category_id    0
product_name           0
product_description    0
product_price          0
product_image          0
dtype: int64

In [41]:
## EL total de ordenes por estado.
merge_orders_customers = orders_df.merge(customers_df, left_on='order_customer_id',right_on='customer_id')
#merge_orders_customers
total_ordenes_x_estado = merge_orders_customers.groupby('customer_city')['order_id'].count()
total_ordenes_x_estado

customer_city
Aguadilla       25
Alameda         48
Albany          38
Albuquerque    219
Algonquin       47
              ...
Yonkers         46
York            90
Ypsilanti       57
Yuma            37
Zanesville      41
Name: order_id, Length: 562, dtype: int64

In [53]:
#Cual es el producto mas vendido 
producto_mas_vendido = order_items_df.groupby("order_item_product_id")['order_item_quantity'].sum().idxmax() #devuelve el indice que tenga el mayo rvalor es el que va retornar
                                                                                                             #idxmin
producto_mas_vendido = products_df.query(f"product_id == {producto_mas_vendido}")["product_name"].values[0]
producto_mas_vendido

'Perfect Fitness Perfect Rip Deck'

In [56]:
#Productos mas caros y mas baratos 
producto_caro = products_df.loc[products_df['product_price'].idxmax()]
producto_barato = products_df.loc[products_df['product_price'].idxmin()]

print(f"Producto mas caro {producto_caro}")
print(f"producto mas barato {producto_barato}")

Producto mas caro product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object
producto mas barato product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [ ]:
## losProductos mas comprados por cliente
#El total gastado por cada cliente --El cliente que mas ha gastado 
#La categoria que tuvo mejor rendimiento en terminos de ventas
#promedio de inregsos por dia 
#promedio de ingresos por mes