In [2]:
var1 = 6

if var1 == '6':
    print("Es verdadero")
    print("Ingreso")
else:
    print("es false")

es false

In [3]:
#Esto es un comentario 
print("Hola mundo")

Hola mundo

In [4]:
#variables 

a = 5 #int
b = 'DATAPATH' #String
print(a)
print(b)

5
DATAPATH

In [5]:
type(a)

int

In [6]:
c = 2.0
type(c)

float

In [7]:
x, y, z = "Manzana","Platano","fresa"

In [8]:
#tipos de datos

In [9]:
#Tipod de datos 
#String

var1=  "manzana"
var = 'Manzana'

In [12]:
print(var1)
print(var1[0])

manzana
m

In [13]:
#Numericos 
int_num = 10 
Float_num = 10.5
complex_num = 3.14j

In [15]:
#Listas 

list_1 = []

list_2 = [1,2,3,4,5]

list_3 = ['manzana','platano']

list_4 = [1,2,'Manzana',1.4]

In [16]:
list_5 = ['manzana',[1,2,3],['a','b']]
print(list_5)

['manzana', [1, 2, 3], ['a', 'b']]

In [17]:
list_6 = ['x','y','z',['a','b',1,2]]

In [26]:
print(list_6[3][2])

1

In [27]:
#Slices

print(list_6[1:3])

['y', 'z']

In [28]:
print(list_6[2:])

['z', ['a', 'b', 1, 2]]

In [29]:
list_6[0] = 'w'
print(list_6)

['w', 'y', 'z', ['a', 'b', 1, 2]]

In [30]:
list_6[0:3] = [1,2,3]
print(list_6)

[1, 2, 3, ['a', 'b', 1, 2]]

In [32]:
#append 
list_6.append(['b','n'])
print(list_6)

[1, 2, 3, ['a', 'b', 1, 2], 'm', ['b', 'n']]

In [34]:
#Extend
list_6.extend(['b','n'])
print(list_6)

[1, 2, 3, ['a', 'b', 1, 2], 'm', ['b', 'n'], 'b', 'n', 'b', 'n']

In [35]:
for element in list_6:
    print(element)

1
2
3
['a', 'b', 1, 2]
m
['b', 'n']
b
n
b
n

In [36]:
#Tuplas 

tupla_1 = ()

In [38]:
tupla_2 = (1,2,3)
print(tupla_2)

(1, 2, 3)

In [39]:
tupla_3 = (1,2,"Manzana",5.4)
print(tupla_3)

(1, 2, 'Manzana', 5.4)

In [40]:
tupla_4 = ((1,2,3),[2,3,4],5)
print(tupla_4)

((1, 2, 3), [2, 3, 4], 5)

In [41]:
type(tupla_4)

tuple

In [42]:
tupla_5 = ('manzana')
type(tupla_5)

str

In [44]:
tupla_6 = ('manzana',)
type(tupla_6)

tuple

In [45]:
print(tupla_4[1][1])

3

In [46]:
print(tupla_4[1:3])

([2, 3, 4], 5)

In [47]:
for nombre in 'Juan','pedro':
    print(nombre)

Juan
pedro

In [ ]:
#cuando usar una lista o tupla depende de si quieres o no modificar los datos, las tuplas no pueden modificar los datos. 
Una tupla itera mas rapido que una lista

In [48]:
#diccionario 
#
#{
#'nombre' : 'juan',
#'apellido': 'perez'
#}

dict_1 = {}
dict_2 = {1: 'manzana', 2: 'Pera'}
dict_3 = {'nombre': 'Juan', 'apellido': 'Perez'}
dict_4 = {1: [12,14,15], "nombre": "juan"}

In [49]:
print(dict_4)

{1: [12, 14, 15], 'nombre': 'juan'}

In [51]:
print(dict_3['apellido'])

Perez

In [52]:
dict_5 = {'nombre': 'Juan', 'edad': 25}

In [53]:
print(dict_5['nombre'])
print(dict_5.get('nombre'))

Juan
Juan

In [55]:
print(dict_5['nom'])

KeyError: 'nom'

In [56]:
print(dict_5.get('nom'))

None

In [57]:
dict_5['edad'] = 28
print(dict_5)

{'nombre': 'Juan', 'edad': 28}

In [58]:
dict_5['direccion'] = 'Lima'
print(dict_5)

{'nombre': 'Juan', 'edad': 28, 'direccion': 'Lima'}

In [59]:
for elemento in dict_5:
    print(elemento)

nombre
edad
direccion

In [60]:
for elemento in dict_5:
    print(dict_5[elemento])

Juan
28
Lima

In [61]:
for key in dict_5:
    print(key, '->',dict_5[key])

nombre -> Juan
edad -> 28
direccion -> Lima

In [62]:
#Control de flujo 

#if 

num = 5

if num > 0:
    print(num,'es mayor que 0')
else: 
    print(num,'es negativo')

print('Se imprime siemore')

5 es mayor que 0
Se imprime siemore

In [64]:
num = float(input('ingresa un numero'))

if num >= 0:
    if num == 0:
        print('el numero es cero')
    else: 
            print('el numero es positivo')
else: 
    print('el numero es negativo')

el numero es positivo

In [66]:
numeros = [1,2,3,4,5]
suma = 0
aux = 0
for num in numeros:
    suma = suma + num
    print(suma)

1
3
6
10
15

In [68]:
n = 10
suma = 0
i = 1
while i <= n :
    suma = suma + i
    i = i + 1

print( 'la suma es ifual a', suma)

la suma es ifual a 55

In [69]:
for val in 'Manzana':
    if val == 'a':
        break
    print(val)

M

In [70]:
for val in 'Manzana':
    if val == 'a':
        pass
    print(val)

M
a
n
z
a
n
a

In [71]:
try:
    pass
except Exception as e:
    print('error')
    printU(e)

In [73]:
try:
    print('Try')
    b = 5/0
except Exception as e:
    print('error')
    print(e)

Try
error
division by zero

In [74]:
suma = suma + i 
suma += i

In [75]:
#FUNCIONES

def mi_funcion(x):
    return 2*x

mi_funcion(4)

8

In [76]:
def greeting():
    return 'Hello'

greeting()

'Hello'

In [78]:
def read_table(tabla):
    query = f"SELECT * FROM {tabla}"

    return execute_query(query)

In [79]:
saludo = lambda: 'hola'

print(saludo())

hola

In [81]:
suma = lambda a,b: a+b
print(suma(2,5))

7

In [82]:
doble = lambda a: a*2
print(doble(4))

8

In [83]:
list_num = [1,2,3]

resul = list(map(lambda x: x*2, list_num))