ETL

In [1]:

# Se importan las librerias a utilizar
import pandas as pd
import sqlalchemy as db
from sqlalchemy import text
from pymongo import MongoClient

In [65]:
#Creamos la conexion a Base datos transaccional de netflix para cargar los datos 
engine = db.create_engine("mysql://root:root@172.16.5.4:3310/db_movies_netflix_transact")
conn = engine.connect()

# Cargamos datos a la dimension Movie

In [66]:
#Hacemos un query donde traemos informacion de la peliculas guardadas en la base de datos transaccional de Netflix
#Asignamos un nombre para la tabla donde almacenaremoslos datos tomados de la base de datos 
#Agrupamos los datos 

query = """
SELECT 
    movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, 
    gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant 
FROM movie 
INNER JOIN participant 
ON movie.movieID=participant.movieID
INNER JOIN person
ON person.personID = participant.personID
INNER JOIN movie_gender 
ON movie.movieID = movie_gender.movieID
INNER JOIN gender 
ON movie_gender.genderID = gender.genderID
"""

In [67]:
#Leemos los datos que obtuvimps del query anterior 
movies_data=pd.read_sql(query, con=conn) #Hacemos la lactura del query 
movies_data["movieID"]=movies_data["movieID"].astype('int') #Cambiamos el tipo de datos de "MovieID" para que sean de tipo entero
movies_data

,movieID,title,releaseDate,gender,participantName,roleparticipant
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director

In [68]:
#Leemos datos de un archivo csv 
movies_award=pd.read_csv("./data/Awards_movie.csv") #creamos un archivo y jalamos la informacion en el archivo .csv
movies_award["movieID"]=movies_award["movieID"].astype('int') #Cambio el tipo de dato de MovieID a tipo INT
movies_award.rename(columns={"Aware":"Award"}, inplace=True) #renombramos la columna "Aware" con el nombre de "Award" 
movies_award

    movieID  IdAward   Award
0  80210920        0   Oscar
1  81157374        1  Grammy
2  80192187        2   Oscar

In [69]:
#Con los dos tablas obtenidas de diferentes fuentes creamos un Merge entre las tablas 
movie_data=pd.merge(movies_data,movies_award, left_on="movieID", right_on="movieID") 
movie_data

,movieID,title,releaseDate,gender,participantName,roleparticipant,IdAward,Award
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,2,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,0,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,1,Grammy

In [71]:
#Creamos una nueva conexion con el warehouse dw_Netflix para guardar informacion en mysql.
 
engine = db.create_engine("mysql://root:root@172.16.5.4:3310/dw_netflix")
conn = engine.connect()

In [72]:
#Renombramos las columnas como la tablas que se encuentran en dw_netflix para evitar que nos de errores 
movie_data = movie_data.rename(columns={'releaseDate': 'releaseMovie', 'Award': 'awardMovie'})
movie_data

,movieID,title,releaseMovie,gender,participantName,roleparticipant,IdAward,awardMovie
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,2,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,0,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,1,Grammy

In [73]:
#Eliminamos la columna IdAward
movie_data = movie_data.drop(columns=['IdAward'])

In [74]:
movie_data

,movieID,title,releaseMovie,gender,participantName,roleparticipant,awardMovie
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,Grammy

In [19]:
#Insertamos los registro en la Dimension Movie de la BD de Netflix 
movie_data.to_sql('dimMovie',conn, if_exists='append', index=False)

IntegrityError: (MySQLdb.IntegrityError) (1062, "Duplicate entry '80192187' for key 'dimMovie.PRIMARY'")
[SQL: INSERT INTO `dimMovie` (`movieID`, title, `releaseMovie`, gender, `participantName`, roleparticipant, `awardMovie`) VALUES (%s, %s, %s, %s, %s, %s, %s)]
[parameters: [(80192187, 'Triple Frontier', datetime.date(2019, 4, 12), 'Action', 'Joseph Chavez Pineda', 'Actor', 'Oscar'), (80210920, 'The Mother', datetime.date(2023, 1, 5), 'Drama', 'Maria Alejandra Navarro', 'Actor', 'Oscar'), (81157374, 'Run', datetime.date(2021, 5, 21), 'Adventure', 'aria Lopez Gutierrez', 'Director', 'Grammy')]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

# Cargamos datos a la dimension USER

In [75]:
#Cargamos los datos de la dimension usuario de un archivo csv 
users = pd.read_csv("./data/users.csv", sep='|')
users

      idUser     username      country subscription
0    1002331      user123          USA      Premium
1    1002332  gamerGirl97       Canada        Basic
2    1002333   techMaster           UK      Premium
3    1002334    soccerFan       Brazil        Basic
4    1002335    travelBug    Australia      Premium
5    1002336   musicLover       France        Basic
6    1002337     foodie88        Italy      Premium
7    1002338   bookWorm23      Germany        Basic
8    1002339  fitnessJunk       Mexico      Premium
9   10023310    movieBuff        Japan        Basic
10  10023311  artAficiona        Spain      Premium
11  10023312   petLover99  Netherlands        Basic
12  10023313  fashionista   SouthKorea      Premium
13  10023314  codingNinja        India        Basic
14  10023315  natureLover       Norway      Premium
15  10023316  coffeeAddct     Colombia        Basic
16  10023317     beachBum      Bahamas      Premium
17  10023318  skiEnthusst  Switzerland        Basic
18  10023319     homeChef   NewZealand      Premium
19  10023320   yogiMaster     Thailand        Basic

In [76]:
#De igual manera renombramos las columnas 
users = users.rename(columns={'idUser': 'userID'})
users

      userID     username      country subscription
0    1002331      user123          USA      Premium
1    1002332  gamerGirl97       Canada        Basic
2    1002333   techMaster           UK      Premium
3    1002334    soccerFan       Brazil        Basic
4    1002335    travelBug    Australia      Premium
5    1002336   musicLover       France        Basic
6    1002337     foodie88        Italy      Premium
7    1002338   bookWorm23      Germany        Basic
8    1002339  fitnessJunk       Mexico      Premium
9   10023310    movieBuff        Japan        Basic
10  10023311  artAficiona        Spain      Premium
11  10023312   petLover99  Netherlands        Basic
12  10023313  fashionista   SouthKorea      Premium
13  10023314  codingNinja        India        Basic
14  10023315  natureLover       Norway      Premium
15  10023316  coffeeAddct     Colombia        Basic
16  10023317     beachBum      Bahamas      Premium
17  10023318  skiEnthusst  Switzerland        Basic
18  10023319     homeChef   NewZealand      Premium
19  10023320   yogiMaster     Thailand        Basic

In [16]:
#Cargamos los datos a la Dimesion USer ID
users.to_sql('dimUser',conn,if_exists='append', index=False)

IntegrityError: (MySQLdb.IntegrityError) (1062, "Duplicate entry '1002331' for key 'dimUser.PRIMARY'")
[SQL: INSERT INTO `dimUser` (`userID`, username, country, subscription) VALUES (%s, %s, %s, %s)]
[parameters: [(1002331, 'user123', 'USA', 'Premium'), (1002332, 'gamerGirl97', 'Canada', 'Basic'), (1002333, 'techMaster', 'UK', 'Premium'), (1002334, 'soccerFan', 'Brazil', 'Basic'), (1002335, 'travelBug', 'Australia', 'Premium'), (1002336, 'musicLover', 'France', 'Basic'), (1002337, 'foodie88', 'Italy', 'Premium'), (1002338, 'bookWorm23', 'Germany', 'Basic')  ... displaying 10 of 20 total bound parameter sets ...  (10023319, 'homeChef', 'NewZealand', 'Premium'), (10023320, 'yogiMaster', 'Thailand', 'Basic')]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

# Cargamos datos a la tabla de hechos

In [77]:
#Copiamos los valores de userID y movieID para poder crear una tabla de hechos 
users_id=users["userID"]
movies_id=movie_data["movieID"]

In [83]:
#Hacemos un merge de los 20 usuarios con las 3 peliculas
# el cross permite crear 3 registro de cada UserId, uno por cada movieID.
#Esta ser nuestra tabla de hechos  |
watchs_data=pd.merge(users_id,movies_id, how="cross")
watchs_data

      userID   movieID
0    1002331  80192187
1    1002331  80210920
2    1002331  81157374
3    1002332  80192187
4    1002332  80210920
5    1002332  81157374
6    1002333  80192187
7    1002333  80210920
8    1002333  81157374
9    1002334  80192187
10   1002334  80210920
11   1002334  81157374
12   1002335  80192187
13   1002335  80210920
14   1002335  81157374
15   1002336  80192187
16   1002336  80210920
17   1002336  81157374
18   1002337  80192187
19   1002337  80210920
20   1002337  81157374
21   1002338  80192187
22   1002338  80210920
23   1002338  81157374
24   1002339  80192187
25   1002339  80210920
26   1002339  81157374
27  10023310  80192187
28  10023310  80210920
29  10023310  81157374
30  10023311  80192187
31  10023311  80210920
32  10023311  81157374
33  10023312  80192187
34  10023312  80210920
35  10023312  81157374
36  10023313  80192187
37  10023313  80210920
38  10023313  81157374
39  10023314  80192187
40  10023314  80210920
41  10023314  81157374
42  10023315  80192187
43  10023315  80210920
44  10023315  81157374
45  10023316  80192187
46  10023316  80210920
47  10023316  81157374
48  10023317  80192187
49  10023317  80210920
50  10023317  81157374
51  10023318  80192187
52  10023318  80210920
53  10023318  81157374
54  10023319  80192187
55  10023319  80210920
56  10023319  81157374
57  10023320  80192187
58  10023320  80210920
59  10023320  81157374

In [84]:
#Generamos datos aleatorios de rating y de fechas

import random
from datetime import datetime, timedelta
import random

def gen_rating():
    # Generar un nmero aleatorio entre 0 y 5 con 1 solo decimal
    numero_aleatorio = round(random.uniform(0, 5), 1)
    # Mostrar el nmero aleatorio
    return numero_aleatorio

def gen_timestamp():
    # Generar un timestamp aleatorio dentro de un rango especfico
    start_date = datetime(2024, 1, 15)
    end_date = datetime(2024, 4, 6)

    # Calcular un valor aleatorio entre start_date y end_date
    random_date = start_date + timedelta(seconds=random.randint(0, int((end_date - start_date).total_seconds())))

    # Mostrar el timestamp aleatorio
    return random_date

In [23]:
#Con los datos aleatorios generados agregamos una columna de rating y una columna de fecha 
# y se los agregamos a nuestra tabla de hechos. 
#watchs_data["rating"]=watchs_data["movieID"].apply(lambda x: gen_rating())
#watchs_data["timestamp"]=watchs_data["userID"].apply(lambda x: gen_timestamp())

In [118]:
rating=[]
date=[]
for i in range(60):
    rating.append(gen_rating())
    date.append(gen_timestamp())

In [119]:
randf=pd.DataFrame((zip(rating,date)),columns=['rating','timestamp'])

In [120]:
CONNECTION_STRING = "mongodb+srv://andreigaled3:txmnM3oUgWMsnxFy@cluster0.qdxwmr6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(CONNECTION_STRING)

In [121]:
dbname=client["ramdon_data"]
randf_to_dict = randf.to_dict("records")
dbname["random"].insert_many(randf_to_dict)

InsertManyResult([ObjectId('6680f7de2c5e16c1d35d6dbe'), ObjectId('6680f7de2c5e16c1d35d6dbf'), ObjectId('6680f7de2c5e16c1d35d6dc0'), ObjectId('6680f7de2c5e16c1d35d6dc1'), ObjectId('6680f7de2c5e16c1d35d6dc2'), ObjectId('6680f7de2c5e16c1d35d6dc3'), ObjectId('6680f7de2c5e16c1d35d6dc4'), ObjectId('6680f7de2c5e16c1d35d6dc5'), ObjectId('6680f7de2c5e16c1d35d6dc6'), ObjectId('6680f7de2c5e16c1d35d6dc7'), ObjectId('6680f7de2c5e16c1d35d6dc8'), ObjectId('6680f7de2c5e16c1d35d6dc9'), ObjectId('6680f7de2c5e16c1d35d6dca'), ObjectId('6680f7de2c5e16c1d35d6dcb'), ObjectId('6680f7de2c5e16c1d35d6dcc'), ObjectId('6680f7de2c5e16c1d35d6dcd'), ObjectId('6680f7de2c5e16c1d35d6dce'), ObjectId('6680f7de2c5e16c1d35d6dcf'), ObjectId('6680f7de2c5e16c1d35d6dd0'), ObjectId('6680f7de2c5e16c1d35d6dd1'), ObjectId('6680f7de2c5e16c1d35d6dd2'), ObjectId('6680f7de2c5e16c1d35d6dd3'), ObjectId('6680f7de2c5e16c1d35d6dd4'), ObjectId('6680f7de2c5e16c1d35d6dd5'), ObjectId('6680f7de2c5e16c1d35d6dd6'), ObjectId('6680f7de2c5e16c1d35d6dd7'), ObjectId('6680f7de2c5e16c1d35d6dd8'), ObjectId('6680f7de2c5e16c1d35d6dd9'), ObjectId('6680f7de2c5e16c1d35d6dda'), ObjectId('6680f7de2c5e16c1d35d6ddb'), ObjectId('6680f7de2c5e16c1d35d6ddc'), ObjectId('6680f7de2c5e16c1d35d6ddd'), ObjectId('6680f7de2c5e16c1d35d6dde'), ObjectId('6680f7de2c5e16c1d35d6ddf'), ObjectId('6680f7de2c5e16c1d35d6de0'), ObjectId('6680f7de2c5e16c1d35d6de1'), ObjectId('6680f7de2c5e16c1d35d6de2'), ObjectId('6680f7de2c5e16c1d35d6de3'), ObjectId('6680f7de2c5e16c1d35d6de4'), ObjectId('6680f7de2c5e16c1d35d6de5'), ObjectId('6680f7de2c5e16c1d35d6de6'), ObjectId('6680f7de2c5e16c1d35d6de7'), ObjectId('6680f7de2c5e16c1d35d6de8'), ObjectId('6680f7de2c5e16c1d35d6de9'), ObjectId('6680f7de2c5e16c1d35d6dea'), ObjectId('6680f7de2c5e16c1d35d6deb'), ObjectId('6680f7de2c5e16c1d35d6dec'), ObjectId('6680f7de2c5e16c1d35d6ded'), ObjectId('6680f7de2c5e16c1d35d6dee'), ObjectId('6680f7de2c5e16c1d35d6def'), ObjectId('6680f7de2c5e16c1d35d6df0'), ObjectId('6680f7de2c5e16c1d35d6df1'), ObjectId('6680f7de2c5e16c1d35d6df2'), ObjectId('6680f7de2c5e16c1d35d6df3'), ObjectId('6680f7de2c5e16c1d35d6df4'), ObjectId('6680f7de2c5e16c1d35d6df5'), ObjectId('6680f7de2c5e16c1d35d6df6'), ObjectId('6680f7de2c5e16c1d35d6df7'), ObjectId('6680f7de2c5e16c1d35d6df8'), ObjectId('6680f7de2c5e16c1d35d6df9')], acknowledged=True)

In [122]:
rating_collection = dbname['random']
random_rating = rating_collection.find({})
random_rating

In [123]:
df_random_rating = pd.DataFrame(random_rating)
df_random_rating

                         _id  rating           timestamp
0   6680f7de2c5e16c1d35d6dbe     2.9 2024-02-26 14:52:01
1   6680f7de2c5e16c1d35d6dbf     1.6 2024-02-05 13:04:31
2   6680f7de2c5e16c1d35d6dc0     2.2 2024-03-05 14:47:40
3   6680f7de2c5e16c1d35d6dc1     0.3 2024-02-20 23:32:58
4   6680f7de2c5e16c1d35d6dc2     1.7 2024-03-09 11:02:44
5   6680f7de2c5e16c1d35d6dc3     4.1 2024-01-27 08:04:11
6   6680f7de2c5e16c1d35d6dc4     4.6 2024-03-22 18:52:15
7   6680f7de2c5e16c1d35d6dc5     1.0 2024-02-09 03:15:12
8   6680f7de2c5e16c1d35d6dc6     3.0 2024-02-21 12:16:42
9   6680f7de2c5e16c1d35d6dc7     1.0 2024-02-26 06:01:00
10  6680f7de2c5e16c1d35d6dc8     1.9 2024-04-03 14:54:18
11  6680f7de2c5e16c1d35d6dc9     0.9 2024-04-02 07:07:49
12  6680f7de2c5e16c1d35d6dca     0.3 2024-03-21 21:02:53
13  6680f7de2c5e16c1d35d6dcb     2.7 2024-02-01 22:02:53
14  6680f7de2c5e16c1d35d6dcc     3.3 2024-02-26 14:13:59
15  6680f7de2c5e16c1d35d6dcd     4.2 2024-03-06 04:39:48
16  6680f7de2c5e16c1d35d6dce     1.7 2024-02-27 12:01:25
17  6680f7de2c5e16c1d35d6dcf     2.8 2024-01-21 23:28:03
18  6680f7de2c5e16c1d35d6dd0     1.5 2024-04-04 23:28:54
19  6680f7de2c5e16c1d35d6dd1     0.3 2024-02-07 15:17:13
20  6680f7de2c5e16c1d35d6dd2     4.9 2024-01-19 04:33:06
21  6680f7de2c5e16c1d35d6dd3     1.5 2024-03-28 06:14:18
22  6680f7de2c5e16c1d35d6dd4     4.4 2024-02-15 14:56:33
23  6680f7de2c5e16c1d35d6dd5     0.1 2024-01-21 01:37:06
24  6680f7de2c5e16c1d35d6dd6     3.3 2024-04-01 00:17:42
25  6680f7de2c5e16c1d35d6dd7     1.8 2024-03-06 21:49:45
26  6680f7de2c5e16c1d35d6dd8     0.0 2024-02-19 01:14:04
27  6680f7de2c5e16c1d35d6dd9     0.9 2024-02-08 08:17:54
28  6680f7de2c5e16c1d35d6dda     2.7 2024-02-11 06:12:34
29  6680f7de2c5e16c1d35d6ddb     3.2 2024-03-19 05:01:08
30  6680f7de2c5e16c1d35d6ddc     3.6 2024-02-28 01:00:10
31  6680f7de2c5e16c1d35d6ddd     3.7 2024-03-17 13:14:53
32  6680f7de2c5e16c1d35d6dde     5.0 2024-03-18 19:22:02
33  6680f7de2c5e16c1d35d6ddf     3.4 2024-03-01 10:34:50
34  6680f7de2c5e16c1d35d6de0     4.0 2024-01-18 06:15:20
35  6680f7de2c5e16c1d35d6de1     2.4 2024-02-16 11:51:22
36  6680f7de2c5e16c1d35d6de2     1.0 2024-03-07 21:38:30
37  6680f7de2c5e16c1d35d6de3     1.7 2024-02-05 13:48:31
38  6680f7de2c5e16c1d35d6de4     2.8 2024-03-07 19:34:12
39  6680f7de2c5e16c1d35d6de5     2.6 2024-03-13 15:57:43
40  6680f7de2c5e16c1d35d6de6     4.4 2024-03-01 14:37:01
41  6680f7de2c5e16c1d35d6de7     2.2 2024-01-20 22:16:10
42  6680f7de2c5e16c1d35d6de8     2.8 2024-04-01 12:51:12
43  6680f7de2c5e16c1d35d6de9     0.1 2024-01-26 10:21:35
44  6680f7de2c5e16c1d35d6dea     2.2 2024-03-07 14:51:19
45  6680f7de2c5e16c1d35d6deb     4.7 2024-02-14 17:12:14
46  6680f7de2c5e16c1d35d6dec     4.7 2024-02-17 20:45:32
47  6680f7de2c5e16c1d35d6ded     3.4 2024-03-20 11:53:06
48  6680f7de2c5e16c1d35d6dee     2.4 2024-01-22 19:03:41
49  6680f7de2c5e16c1d35d6def     2.8 2024-03-21 06:45:14
50  6680f7de2c5e16c1d35d6df0     1.4 2024-01-30 19:56:17
51  6680f7de2c5e16c1d35d6df1     0.6 2024-02-17 14:13:54
52  6680f7de2c5e16c1d35d6df2     1.6 2024-03-21 16:59:51
53  6680f7de2c5e16c1d35d6df3     1.2 2024-01-15 03:23:12
54  6680f7de2c5e16c1d35d6df4     1.7 2024-01-21 03:04:39
55  6680f7de2c5e16c1d35d6df5     3.4 2024-03-30 16:57:31
56  6680f7de2c5e16c1d35d6df6     2.3 2024-02-05 16:52:55
57  6680f7de2c5e16c1d35d6df7     4.2 2024-03-02 11:33:54
58  6680f7de2c5e16c1d35d6df8     2.2 2024-01-26 17:46:11
59  6680f7de2c5e16c1d35d6df9     4.0 2024-02-07 13:11:28

In [124]:
df_random_rating = df_random_rating.drop(columns=['_id'])
df_random_rating

    rating           timestamp
0      2.9 2024-02-26 14:52:01
1      1.6 2024-02-05 13:04:31
2      2.2 2024-03-05 14:47:40
3      0.3 2024-02-20 23:32:58
4      1.7 2024-03-09 11:02:44
5      4.1 2024-01-27 08:04:11
6      4.6 2024-03-22 18:52:15
7      1.0 2024-02-09 03:15:12
8      3.0 2024-02-21 12:16:42
9      1.0 2024-02-26 06:01:00
10     1.9 2024-04-03 14:54:18
11     0.9 2024-04-02 07:07:49
12     0.3 2024-03-21 21:02:53
13     2.7 2024-02-01 22:02:53
14     3.3 2024-02-26 14:13:59
15     4.2 2024-03-06 04:39:48
16     1.7 2024-02-27 12:01:25
17     2.8 2024-01-21 23:28:03
18     1.5 2024-04-04 23:28:54
19     0.3 2024-02-07 15:17:13
20     4.9 2024-01-19 04:33:06
21     1.5 2024-03-28 06:14:18
22     4.4 2024-02-15 14:56:33
23     0.1 2024-01-21 01:37:06
24     3.3 2024-04-01 00:17:42
25     1.8 2024-03-06 21:49:45
26     0.0 2024-02-19 01:14:04
27     0.9 2024-02-08 08:17:54
28     2.7 2024-02-11 06:12:34
29     3.2 2024-03-19 05:01:08
30     3.6 2024-02-28 01:00:10
31     3.7 2024-03-17 13:14:53
32     5.0 2024-03-18 19:22:02
33     3.4 2024-03-01 10:34:50
34     4.0 2024-01-18 06:15:20
35     2.4 2024-02-16 11:51:22
36     1.0 2024-03-07 21:38:30
37     1.7 2024-02-05 13:48:31
38     2.8 2024-03-07 19:34:12
39     2.6 2024-03-13 15:57:43
40     4.4 2024-03-01 14:37:01
41     2.2 2024-01-20 22:16:10
42     2.8 2024-04-01 12:51:12
43     0.1 2024-01-26 10:21:35
44     2.2 2024-03-07 14:51:19
45     4.7 2024-02-14 17:12:14
46     4.7 2024-02-17 20:45:32
47     3.4 2024-03-20 11:53:06
48     2.4 2024-01-22 19:03:41
49     2.8 2024-03-21 06:45:14
50     1.4 2024-01-30 19:56:17
51     0.6 2024-02-17 14:13:54
52     1.6 2024-03-21 16:59:51
53     1.2 2024-01-15 03:23:12
54     1.7 2024-01-21 03:04:39
55     3.4 2024-03-30 16:57:31
56     2.3 2024-02-05 16:52:55
57     4.2 2024-03-02 11:33:54
58     2.2 2024-01-26 17:46:11
59     4.0 2024-02-07 13:11:28

In [50]:
#watchs_data

In [131]:
watchs_data = pd.concat([watchs_data,df_random_rating],axis=1)
watchs_data

      userID   movieID  rating           timestamp
0    1002331  80192187     2.9 2024-02-26 14:52:01
1    1002331  80210920     1.6 2024-02-05 13:04:31
2    1002331  81157374     2.2 2024-03-05 14:47:40
3    1002332  80192187     0.3 2024-02-20 23:32:58
4    1002332  80210920     1.7 2024-03-09 11:02:44
5    1002332  81157374     4.1 2024-01-27 08:04:11
6    1002333  80192187     4.6 2024-03-22 18:52:15
7    1002333  80210920     1.0 2024-02-09 03:15:12
8    1002333  81157374     3.0 2024-02-21 12:16:42
9    1002334  80192187     1.0 2024-02-26 06:01:00
10   1002334  80210920     1.9 2024-04-03 14:54:18
11   1002334  81157374     0.9 2024-04-02 07:07:49
12   1002335  80192187     0.3 2024-03-21 21:02:53
13   1002335  80210920     2.7 2024-02-01 22:02:53
14   1002335  81157374     3.3 2024-02-26 14:13:59
15   1002336  80192187     4.2 2024-03-06 04:39:48
16   1002336  80210920     1.7 2024-02-27 12:01:25
17   1002336  81157374     2.8 2024-01-21 23:28:03
18   1002337  80192187     1.5 2024-04-04 23:28:54
19   1002337  80210920     0.3 2024-02-07 15:17:13
20   1002337  81157374     4.9 2024-01-19 04:33:06
21   1002338  80192187     1.5 2024-03-28 06:14:18
22   1002338  80210920     4.4 2024-02-15 14:56:33
23   1002338  81157374     0.1 2024-01-21 01:37:06
24   1002339  80192187     3.3 2024-04-01 00:17:42
25   1002339  80210920     1.8 2024-03-06 21:49:45
26   1002339  81157374     0.0 2024-02-19 01:14:04
27  10023310  80192187     0.9 2024-02-08 08:17:54
28  10023310  80210920     2.7 2024-02-11 06:12:34
29  10023310  81157374     3.2 2024-03-19 05:01:08
30  10023311  80192187     3.6 2024-02-28 01:00:10
31  10023311  80210920     3.7 2024-03-17 13:14:53
32  10023311  81157374     5.0 2024-03-18 19:22:02
33  10023312  80192187     3.4 2024-03-01 10:34:50
34  10023312  80210920     4.0 2024-01-18 06:15:20
35  10023312  81157374     2.4 2024-02-16 11:51:22
36  10023313  80192187     1.0 2024-03-07 21:38:30
37  10023313  80210920     1.7 2024-02-05 13:48:31
38  10023313  81157374     2.8 2024-03-07 19:34:12
39  10023314  80192187     2.6 2024-03-13 15:57:43
40  10023314  80210920     4.4 2024-03-01 14:37:01
41  10023314  81157374     2.2 2024-01-20 22:16:10
42  10023315  80192187     2.8 2024-04-01 12:51:12
43  10023315  80210920     0.1 2024-01-26 10:21:35
44  10023315  81157374     2.2 2024-03-07 14:51:19
45  10023316  80192187     4.7 2024-02-14 17:12:14
46  10023316  80210920     4.7 2024-02-17 20:45:32
47  10023316  81157374     3.4 2024-03-20 11:53:06
48  10023317  80192187     2.4 2024-01-22 19:03:41
49  10023317  80210920     2.8 2024-03-21 06:45:14
50  10023317  81157374     1.4 2024-01-30 19:56:17
51  10023318  80192187     0.6 2024-02-17 14:13:54
52  10023318  80210920     1.6 2024-03-21 16:59:51
53  10023318  81157374     1.2 2024-01-15 03:23:12
54  10023319  80192187     1.7 2024-01-21 03:04:39
55  10023319  80210920     3.4 2024-03-30 16:57:31
56  10023319  81157374     2.3 2024-02-05 16:52:55
57  10023320  80192187     4.2 2024-03-02 11:33:54
58  10023320  80210920     2.2 2024-01-26 17:46:11
59  10023320  81157374     4.0 2024-02-07 13:11:28

In [132]:
# Cargamos los datos a la tabla de hechos
watchs_data.to_sql("FactWatchs", conn, if_exists='append', index=False)
watchs_data

      userID   movieID  rating           timestamp
0    1002331  80192187     2.9 2024-02-26 14:52:01
1    1002331  80210920     1.6 2024-02-05 13:04:31
2    1002331  81157374     2.2 2024-03-05 14:47:40
3    1002332  80192187     0.3 2024-02-20 23:32:58
4    1002332  80210920     1.7 2024-03-09 11:02:44
5    1002332  81157374     4.1 2024-01-27 08:04:11
6    1002333  80192187     4.6 2024-03-22 18:52:15
7    1002333  80210920     1.0 2024-02-09 03:15:12
8    1002333  81157374     3.0 2024-02-21 12:16:42
9    1002334  80192187     1.0 2024-02-26 06:01:00
10   1002334  80210920     1.9 2024-04-03 14:54:18
11   1002334  81157374     0.9 2024-04-02 07:07:49
12   1002335  80192187     0.3 2024-03-21 21:02:53
13   1002335  80210920     2.7 2024-02-01 22:02:53
14   1002335  81157374     3.3 2024-02-26 14:13:59
15   1002336  80192187     4.2 2024-03-06 04:39:48
16   1002336  80210920     1.7 2024-02-27 12:01:25
17   1002336  81157374     2.8 2024-01-21 23:28:03
18   1002337  80192187     1.5 2024-04-04 23:28:54
19   1002337  80210920     0.3 2024-02-07 15:17:13
20   1002337  81157374     4.9 2024-01-19 04:33:06
21   1002338  80192187     1.5 2024-03-28 06:14:18
22   1002338  80210920     4.4 2024-02-15 14:56:33
23   1002338  81157374     0.1 2024-01-21 01:37:06
24   1002339  80192187     3.3 2024-04-01 00:17:42
25   1002339  80210920     1.8 2024-03-06 21:49:45
26   1002339  81157374     0.0 2024-02-19 01:14:04
27  10023310  80192187     0.9 2024-02-08 08:17:54
28  10023310  80210920     2.7 2024-02-11 06:12:34
29  10023310  81157374     3.2 2024-03-19 05:01:08
30  10023311  80192187     3.6 2024-02-28 01:00:10
31  10023311  80210920     3.7 2024-03-17 13:14:53
32  10023311  81157374     5.0 2024-03-18 19:22:02
33  10023312  80192187     3.4 2024-03-01 10:34:50
34  10023312  80210920     4.0 2024-01-18 06:15:20
35  10023312  81157374     2.4 2024-02-16 11:51:22
36  10023313  80192187     1.0 2024-03-07 21:38:30
37  10023313  80210920     1.7 2024-02-05 13:48:31
38  10023313  81157374     2.8 2024-03-07 19:34:12
39  10023314  80192187     2.6 2024-03-13 15:57:43
40  10023314  80210920     4.4 2024-03-01 14:37:01
41  10023314  81157374     2.2 2024-01-20 22:16:10
42  10023315  80192187     2.8 2024-04-01 12:51:12
43  10023315  80210920     0.1 2024-01-26 10:21:35
44  10023315  81157374     2.2 2024-03-07 14:51:19
45  10023316  80192187     4.7 2024-02-14 17:12:14
46  10023316  80210920     4.7 2024-02-17 20:45:32
47  10023316  81157374     3.4 2024-03-20 11:53:06
48  10023317  80192187     2.4 2024-01-22 19:03:41
49  10023317  80210920     2.8 2024-03-21 06:45:14
50  10023317  81157374     1.4 2024-01-30 19:56:17
51  10023318  80192187     0.6 2024-02-17 14:13:54
52  10023318  80210920     1.6 2024-03-21 16:59:51
53  10023318  81157374     1.2 2024-01-15 03:23:12
54  10023319  80192187     1.7 2024-01-21 03:04:39
55  10023319  80210920     3.4 2024-03-30 16:57:31
56  10023319  81157374     2.3 2024-02-05 16:52:55
57  10023320  80192187     4.2 2024-03-02 11:33:54
58  10023320  80210920     2.2 2024-01-26 17:46:11
59  10023320  81157374     4.0 2024-02-07 13:11:28

In [ ]:
### SET FOREIGN_KEY_CHECKS = 0;
### SET FOREIGN_KEY_CHECKS = 1;